<div class="container jumbotron">
	<div class="container text-center">
		<form class="form-inline">
		  <div class="form-group">
		    <label><h3>Tipo de pendiente</h3></label>
		  </div>
		  <div class="form-group">		    
		    <select class="form-control" ng-change="loadPendings(pending.idType.id)" name="type" ng-init="loadTypes()" id="type" ng-model="pending.idType.id">
				<option ng-repeat="type in types" value="{{type.id}}">{{type.type}}</option>
			</select>
		  </div>
		  <button type="submit" ng-click="addType()" class="btn btn-default">Agregar</button>
		</form>
	</div>
	<br>
	<div class="container text-center">
		<fieldset class="form-group row">
      		<legend>Nuevo pendiente - <i>{{pendings.length}} Pendientes</i></legend>
			<div class="form-inline">
			  <div class="form-group">
			    <label for="title">T&iacute;tulo</label>
			    <input type="text" class="form-control" id="title" ng-model="pending.title" placeholder="T&iacute;tulo">
			  </div>
			  <div class="form-group">
			    <label for="description">Descripci&oacute;n</label>
			    <input type="text" class="form-control" id="description" ng-model="pending.description" placeholder="Descripci&oacute;n"/>
			  </div>
			  <button type="button" class="btn btn-default btn-info	" ng-click="savePending();" >Guardar</button>
			</div>
		</fieldset>
	</div>
	<!-- alf_ticket generate with http://localhost:8080/alfresco/service/api/login?u=admin&pw=admin -->
	<!-- URI DOWNOAD http://172.17.0.1:8080/alfresco/service/api/node/workspace/SpacesStore/6c115324-ef9d-4dec-9520-422cba55b391/content/main.txt?a=true&alf_ticket=TICKET_0d4806496a6eaf1b53c8e5e53aa1a0bc657eca7e
	 upload action="http://localhost:8080/alfresco/service/api/upload?alf_ticket=TICKET_58f816fc90d18ed0aea284cbfed16ba8bbb087a2"
	-->
	<div class="container">
	   <form method="POST" name="uploadForm" enctype='multipart/form-data' ng-submit="submitfile()" id="upload_form" role="form" action="">
 	     <input type="hidden" name="destination" id="destination" value="workspace://SpacesStore/37d2a898-faea-4605-baa4-18b5d3734083"/>
 	     <div class="form-group">
 	       <label class="control-label">Folder Parent</label>
	       <input class="form-control" type="text" name="uploaddirectory" id="uploaddirectory" value="activities"/>
	     </div>
	     <div class="form-group">
	       <label class="control-label">Name:</label>
	       <input class="form-control" type="text" name="filename" id="filename"/>
	     </div>
	     <div class="form-group">
		     <label class="control-label">Description:</label>  
	       <textarea class="form-control" name="description" id="description"></textarea>
	     </div>
       <div class="form-group">
	       <label class="control-label">File:</label>  
	       <input class="button" type="file" name="filedata" id="filedata"/>
	     </div>
      <input class="btn btn-default btn-success" type="submit" name="submit" value="Upload"/>
    </form>
	</div>
	<div class="container">
		<table class="table table-striped" ng-init="loadPendings()" at-table at-paginated at-list="pendings" at-config="config">
		  <thead></thead>
		  <tbody>
		    <tr>
		      <td at-implicit at-sortable at-attribute="title"  at-title="T&iacute;tulo" width="20%" at-initial-sorting="asc"></td>
		      <td at-implicit at-sortable at-attribute="description" at-title="Descripci&oacute;n"  width="70%"></td>
		      <td at-title="Opciones"><a href=""><i class="fa fa-pencil" aria-hidden="true" ng-click="editPending(item)"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-trash" aria-hidden="true" ng-click="deletePending(item)" ></i></a></td>
		    </tr>
		  </tbody>
		</table>		
		<at-pagination at-list="pendings" at-config="config"></at-pagination>
	</div>
</div>
